
body{
    background-color: #1a52c4;    
}

html, body { 
    height:100%;
    background-color: #1a52c4;     
}

#contenido #logo{
    /* background-color:#9acb57 ;
    height: 100vh; */
    background-image: url('http://credipymesolucion.com.pe/images/imagen_blue.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 110%;
    background-position-y: 50%;
    
}
#contenido #formulario{
    box-shadow: 1px 2px 71px 11px rgba(0,0,0,0.75);
    /* height: 100vh; */
    
}
#contenido #formulario h2{
    color: #1a52c4;
}

#contenido #formulario #form-text{
    position: relative;
    margin-left: 10%;
    width: 80%;
    
}